body {
  padding-top: 60px;
  padding-bottom: 10px;
  color: #333333;
  font-family: Verdana, sans-serif;
  font-size: large;
}
footer {
  margin: 60px;
}
.displayExploreButtons {
  display: none;
  margin-top: 60px;
  margin-bottom: 60px;
}
.displayText {
  display: none;
}

img{
  width: 8%;
  height: 8%;
}